*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,Arial,sans-serif;
}
 
body{
    background:#f3f5f7;
}
 
.header{
    background:#002B5B;
    color:white;
    padding:18px 30px;
 
    display:flex;
    justify-content:space-between;
    align-items:center;
}
 
.header h1{
    font-size:24px;
}
 
.acciones button{
 
    padding:10px 18px;
    margin-left:10px;
    border:none;
    border-radius:8px;
    cursor:pointer;
 
}
 
.primary{
 
    background:#00A3E0;
    color:white;
 
}
 
.contenedor{
 
    display:grid;
    grid-template-columns:320px 1fr 280px;
    gap:20px;
 
    padding:25px;
 
}
 
.panel{
 
    background:white;
    border-radius:12px;
    padding:20px;
 
    box-shadow:0 5px 18px rgba(0,0,0,.08);
 
}
 
.preview{
 
    background:white;
 
    border-radius:12px;
 
    display:flex;
 
    justify-content:center;
 
    align-items:center;
 
    min-height:700px;
 
    box-shadow:0 5px 18px rgba(0,0,0,.08);
 
}
 
.flyer{
 
    width:420px;
 
    height:600px;
 
    border:2px dashed #cfcfcf;
 
    border-radius:12px;
 
    display:flex;
 
    align-items:center;
 
    justify-content:center;
 
    color:#777;
 
}
 
label{
 
    display:block;
 
    margin-top:18px;
 
    margin-bottom:5px;
 
    font-weight:600;
 
}
 
input,
select,
textarea{
 
    width:100%;
 
    padding:10px;
 
    border:1px solid #ddd;
 
    border-radius:8px;
 
}
